body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(11, 12, 19);
}



hr {
    /*    <-------   linea divisora*/
    height: 1px;
    /* Define el grosor de la línea */
    background-color: #ffffff;
    /* Cambia el color de la línea, puedes personalizarlo */
    width: 90%;
    /* Asegura que ocupe el 100% del ancho */
    margin-bottom: 50px;
}

/*-----------efectos de puntos-----------------*/

/* Canvas de fondo */
canvas {
    position: absolute;

    width: 100%;
    height: auto;
    z-index: -1;
    /* Ajusta según necesites */
}


/*-----------MENU-----------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05040ee1;
    padding: 10px 20px;
    color: #ffffff;
    position: relative;
}

.logo img {
    height: 50px;
}

/* Estilos del menú */
.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Ocultar el menú en pantallas pequeñas */
.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-icon span {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/*-----------BANNER-----------------*/
.banner {
    padding: 50px;
    height: 100%;
    overflow: hidden;
    background-color: #7d8592;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-content img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



/*-----------CERVICIO MANTENIMIETO-----------------*/

.container {
    /* <----   contenedor general*/
    display: flex;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 600px;
    flex-direction: column
}

.sub_titulo {
    display: flex;
    font-size: 40px;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

/*diviciones de cervicio*/

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

/*FIN DE = diviciones de cervicio*/

.parent p {
    font-size: 20px;
    white-space: pre-line;
    text-align: left;
    padding-left: 50px;
    margin: 0;
}

/*-------------------pestañas*/

.tab-area {
    width: 100%;
    margin: 0;

}


.tab-link {
    text-transform: arial;
    /*<---------tipo de letra*/
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    background: #212b3a;

}

.tab-link:hover {
    background: #e8edf7;
}

.tab-link:nth-of-type(1) {
    margin-left: 20px;
}

.tab-link:hover {
    color: #0000008e;
}

.tab {
    align-content: center;
    clear: both;
    background: #7d8592;
    padding: 50px;
    display: none;
    width: auto;
    min-height: 400px;

}

.target-fix {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}

@media only screen and (max-width: 1150px) {
    .tab-area {
        width: 100%;
        margin: 0;
        float: left;
    }
}

@media only screen and (max-width: 560px) {
    .tab-area {
        width: 100%;
        margin: 0 0 0;
        float: left;
    }

    .intro {
        margin: 50px 0;
    }
}

.tabs-focus .tab-link:focus,
.tabs-hover .tab-link:hover,
#tabC:target~a:nth-of-type(3),
#tabB:target~a:nth-of-type(2),
#tabC:not(:target)~#tabB:not(:target)~a:nth-of-type(1),
#tab-C:checked~label:nth-of-type(3),
#tab-B:checked~label:nth-of-type(2),
#tab-B:not(:checked)~#tab-C:not(:checked)~label:nth-of-type(1) {
    background: #7d8592;
}

.tabs-focus .tab-link:focus:after,
.tabs-hover .tab-link:hover:after,
#tabC:target~a:nth-of-type(3):after,
#tabB:target~a:nth-of-type(2):after,
#tabC:not(:target)~#tabB:not(:target)~a:nth-of-type(1):after,
#tab-C:checked~label:nth-of-type(3):after,
#tab-B:checked~label:nth-of-type(2):after,
#tab-B:not(:checked)~#tab-C:not(:checked)~label:nth-of-type(1):after {
    position: absolute;
    content: "";
    margin: 5px 0 0 0;
    width: 55px;
    height: 1px;
    display: block;
}


/* Target Tabs */
.tabs-target span:nth-of-type(1):not(:target)~span:nth-of-type(2):not(:target)~.tab:nth-of-type(1),
.tabs-target span:nth-of-type(2):target~.tab:nth-of-type(2),
.tabs-target span:nth-of-type(1):target~.tab:nth-of-type(3) {
    display: block;
}

/*-------------Tabla 1---------------*/
.parent1 {
    display: grid; /* Aplica grid al contenedor */
    grid-template-columns: auto 1fr; /* Ajusta el ancho de las columnas */
    grid-template-rows: repeat(6, auto); /* Filas automáticas */
    grid-column-gap: 80px; /* Espacio entre las columnas */
    grid-row-gap: 8px; /* Espacio entre las filas */
}

.div1 {
    grid-area: 1 / 1 / 8 / 2;
}

.div2 {
    grid-area: 1 / 2 / 8 / 3;
}

.div3 {
    grid-area: 1 / 1 / 2 / 2;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
}

.div6 {
    grid-area: 4 / 1 / 5 / 2;
}

.div7 {
    grid-area: 5 / 1 / 6 / 2;
}

.div8 {
    grid-area: 6 / 1 / 7 / 2;
}

.div9 {
    grid-area: 7 / 1 / 8 / 2;
}


/*-------------Tabla 2---------------*/
.parent2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* Dos columnas que se ajustan al contenido */
    grid-auto-rows: auto;
    /* Las filas se ajustan al contenido */
    gap: 8px;
    /* Espacio entre los elementos */
}


.div10 {
    grid-area: 1 / 1 / 14 / 3;
}

.div11 {
    grid-area: 1 / 2 / 2 / 3;
}

.div12 {
    grid-area: 2 / 2 / 3 / 3;
}

.div13 {
    grid-area: 3 / 2 / 4 / 3;
}

.div14 {
    grid-area: 4 / 2 / 5 / 3;
}

.div15 {
    grid-area: 5 / 2 / 6 / 3;
}

.div16 {
    grid-area: 6 / 2 / 7 / 3;
}

.div17 {
    grid-area: 7 / 2 / 8 / 3;
}

.div18 {
    grid-area: 1 / 1 / 8 / 2;
}

.div19 {
    grid-area: 8 / 2 / 9 / 3;
}

.div20 {
    grid-area: 9 / 2 / 10 / 3;
}

.div21 {
    grid-area: 10 / 2 / 11 / 3;
}

.div22 {
    grid-area: 8 / 1 / 11 / 2;
}

.div23 {
    grid-area: 11 / 1 / 14 / 2;
}

.div24 {
    grid-area: 11 / 2 / 12 / 3;
}

.div25 {
    grid-area: 12 / 2 / 13 / 3;
}

.div26 {
    grid-area: 13 / 2 / 14 / 3;
}

.div27 {
    grid-area: 14 / 1 / 15 / 3;
}

/*-------------Tabla 2---------------*/
.parent3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-auto-rows: auto;
    /* Las filas se ajustan al contenido */
    gap: 8px;
    /* Espacio entre los elementos */
}

.div28 {
    grid-area: 1 / 1 / 5 / 4;
}

.div29 {
    grid-area: 5 / 1 / 6 / 4;
}

.div30 {
    grid-area: 1 / 1 / 2 / 2;
}

.div31 {
    grid-area: 1 / 2 / 2 / 3;
}

.div32 {
    grid-area: 1 / 3 / 2 / 4;
}

.div33 {
    grid-area: 2 / 1 / 3 / 2;
}

.div34 {
    grid-area: 2 / 2 / 3 / 3;
}

.div35 {
    grid-area: 2 / 3 / 3 / 4;
}

.div36 {
    grid-area: 3 / 1 / 4 / 2;
}

.div37 {
    grid-area: 3 / 2 / 4 / 3;
}

.div38 {
    grid-area: 3 / 3 / 4 / 4;
}

.div39 {
    grid-area: 4 / 2 / 5 / 3;
}

.div40 {
    grid-area: 4 / 3 / 5 / 4;
}

/*-------------estilo de tablas---------------*/
/*tabla1*/

.parent1 div:nth-of-type(n+3):nth-of-type(-n+8) {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: left;
    font-size: 25px;
    padding: 10px;
}

.parent1 p {
    margin: 0;
    white-space: pre-line;
}

/*tabla2*/
.parent2 div:nth-of-type(9),
.parent2 div:nth-of-type(13),
.parent2 div:nth-of-type(14) {
    display: grid;
    /* Convertir cada div en un contenedor grid */
    justify-items: center;
    /* Centrar contenido horizontalmente */
    align-items: center;
    /* Centrar contenido verticalmente */
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 25px;
    padding: 10px;
}


.parent2 div:nth-of-type(n+15):nth-of-type(-n+18),
.parent2 div:nth-of-type(n+10):nth-of-type(-n+12),
.parent2 div:nth-of-type(n+2):nth-of-type(-n+8) {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: left;
    font-size: 25px;
    padding: 10px;
}

.parent2 p {
    margin: 0;
    white-space: pre-line;
}

/*tabla3*/
.parent3 div:nth-of-type(n+2):nth-of-type(-n+13) {
    font-size: 25px;
    background-color: white;
    color: black;
    padding: 10px;
}

.parent3 div:nth-of-type(n+6):nth-of-type(-n+6),
.parent3 div:nth-of-type(n+9):nth-of-type(-n+9),
.parent3 div:nth-of-type(n+2):nth-of-type(-n+2),
.parent3 div:nth-of-type(n+3):nth-of-type(-n+3) {
    display: grid;
    text-align: left;
    padding: 10px;
    margin: 0;
}

.parent3 p {
    margin: 0;
    white-space: pre-line;
}

/*-------------TRABAJOS ANTERIORES---------------*/

.loading-wave {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.3s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}

/*----------------------PIE DE PAGINA-----------------------*/
/* Estilo general del pie de página */
.footer {
    background-color: #212b3a;
    color: #fff;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    min-width: 150px;
}

.footer-links {
    display: flex;
    gap: 30px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #171924;
}

.footer-social {
    display: flex;
    gap: 20px;
}




/* Estilo para la parte inferior del pie de página */
.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}







